@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.navbar-inverse {

  padding: 5px;

}

.dropdown-menu {

  margin-top: 5px !important;

}


.edit-con {

  margin-top: 100px;

}

.button {

  margin-left: 10px;

}

.navbar-brand {

  margin-right: 50px;

}

.navbar-brand {

  margin-left: 50px !important;

}

.search .input-group {

	margin-left: 100px;
}

.btn-default {

	margin-left: 10px;
}