@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


body {

	padding-top: 40px;
	padding-bottom: 40px;
	/*background-color: transparent !important;*/

}

/*html { 
	background: url(images/photo-1421757295538-9c80958e75b0.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
.form-signin {

	max-width: 280px;
	padding: 15px;
	margin: 0 auto;

}

.alt1 {

	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	margin: 10px;

}

.alt1 input {

	height: 40px !important;

}

.alt2 {

	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	margin: 10px;

}

.alt2 input {

	height: 40px !important;

}

.alt .input-group {

	font-style: normal;
	width: 100%;
}

.panel-body {

	margin-top: 180px;

}

.col-sm-5 {

	margin-left: 36.33333333%;
}
	

.btn-primary {

	width: 100%;

}

.jumbotron {

	background-color: white;

}

.form-control {

	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;

}

.panel-primary {

	margin-bottom: 0px;

}

.panel-body {

	padding: 6px;

}

.jumbotron .btn-primary {

	margin-right: 8px; 
	border-radius: 24px;

}

.navbar-inverse {

	padding: 5px;

}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {

	 background-color: transparent !important;
	 
}

.dropdown-menu {

	margin-top: 5px !important;

}

.edit-con {

	margin-top: 30px;

}

.button {

	margin-left: 10px;

}

.glyphicon-cog {

	margin-right: 50px;

}

.navbar-brand {

	margin-left: 50px !important;

}

.col-sm-3 {

	margin-top: 8px;

}

.col-sm-4 {

	margin-top: 80px;

}

.search .input-group {

	margin-left: 90px !important;
	margin-top: 50px;


}

.alert-danger {

	margin-bottom: 25px;
	margin-top: 13px;

}
.error ul {

	list-style-type: none !important; 
	margin-bottom: 0px !important;

}

.errorlist { 

	list-style-type: none !important; 
	margin-bottom: 0px !important;

}

.jumbotron p {

	margin-bottom: 15px;
	font-size: 40px;
	font-weight: 200;

}

/*.wrapper {
background-color: #FFFFFF;
margin: 0 auto;
opacity: 0.9;
padding: 0 20px 15px;
width: 940px;
}*/

.btn-primary {

	margin-top: 13px;"
}

.messages{

	list-style-type: none;
	padding-left: 0px;
}

#error1 .alert-danger{

	margin-bottom: -13px;
	margin-top: 13px;

}

#error2 .alert-danger{

	margin-bottom: -13px;
	margin-top: 13px;

}

#error3 .alert-danger{

	margin-bottom: -13px;
	margin-top: 13px;

}

.glyphicon.glyphicon-circle-arrow-left {
	
    font-size: 30px;

}

