{% load staticfiles %}

<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Change Password</title>
			<link href="{{ STATIC_URL }}/logme/css/bootstrap.min.css" rel="stylesheet">
			<link href="{{STATIC_URL}}/logme/css/style.css" rel="stylesheet">
		</head>
		<body>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">Account Settings</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<a class="navbar-brand" href="{% url 'logat:home' %}" style="margin-right:50px">Back to Home <i class="glyphicon glyphicon-home"></a></i>
						</ul>
					</div> 
				</div>
			</nav>
				<div class="container">
					<div class="row">           
						<div class="col-sm-4 col-md-5 col-md-offset-4" style="margin-top: 90px;">
							<div id="change">
								<h1 class="text-center login-title"><strong>Change Password</strong></h1><br></br>
									<div class="form-group">
										<form action="" method="POST">
											{% csrf_token %}		
											<div class="form-group">
												{% if password_form.old_password.errors %}
													<div style="margin-top:13px;">
														<div class="alert alert-danger" style="margin-bottom: 13px;">
															<center><p class="error">
																{{ password_form.old_password.errors }}
															</p>{% endif %}
															</center>														
														</div>
												 <input type="password" class="form-control" placeholder="Old Password" name="{{ password_form.old_password.html_name}}" required>
											</div>
											<div class="form-group">
												{% if password_form.new_password1.errors %}
													<div style="margin-top:13px;">
														<div class="alert alert-danger" style="margin-bottom: 13px;">
															<center><p class="error">
																		{{ password_form.new_password1.errors }}
																	</p>{% endif %}
															</center>
														</div>
												 <input type="password" class="form-control" placeholder="New Password" name="{{ password_form.new_password1.html_name}}" required>
											</div>
											<div class="form-group">
												{% if password_form.new_password2.errors %}
													<div style="margin-top:13px;">
														<div class="alert alert-danger" style="margin-bottom: 13px;">
															<center><p class="error">
																		{{ password_form.new_password2.errors }}
																	</p>{% endif %}
															<center>
														</div>
												 <input type="password" class="form-control" placeholder="Password Confirmation" name="{{ password_form.new_password2.html_name}}" style="margin-top: 13px" required>

													<button type="submit" class="btn btn-primary btn-lg" style="margin-top: 13px;">Change</i></button>
														{% if change %}
													<div class="alert alert-success" role="alert" style="margin-top: 13px;">
															<center>Password successfully changed!
																{% endif %}
															</center>
													</div>
											</div>
										</form>
									</div>
							</div>
						</div>
					</div>
				</div>
		</body>
</html>