{% load staticfiles %}
<html lang="en">
 <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	   
	   <title>Change</title>

	   
	   	<link href="{{ STATIC_URL }}/logme/css/bootstrap.min.css" rel="stylesheet">
   		<link href="{{STATIC_URL}}/logme/css/style.css" rel="stylesheet">

 </head>

<body>

		<form action="" method="POST">
			{% csrf_token %}
			    <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'logat:home' %}">Web Developers Time Log</a>
                        </div>
                    </div>
        		</nav>

						{{password_form.errors}}

Old password: {{password_form.old_password}}
<br><br>
New password: {{password_form.new_password1}}
<br><br>
New password confirmation: {{password_form.new_password2}}
<br><br>



<input type="submit" value="Change">
{% if change %}

Password Change

{% endif %}
</form>

</body>
<a href = "{%url 'logat:home' %}"><input type="submit" value="Homepage"></a>

</html>