
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="{{ STATIC_URL }}/logme/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/logme/css/style.css" rel="stylesheet">

</head>	
	<body>
	<form action="{% url 'logat:admin' %}" method = "POST">
		{% csrf_token %}

		<table style = 'width:80%' align='center'>
			<tr>
				<th> No. </th>
				<th> Username </th>
				<th> Full Name</th>
				<th> Email </th>
				<th> Employee Type </th>
				<th> Rate/h </th>
				<th> Status </th>

			</tr>

			{% for displays in display %}
			<tr>
					
				<td> {{ displays.id }} </td>
				<td> {{ displays.user }} </td>
				<td> {{ displays.user.first_name }} {{displays.user.last_name }}</td>
				<td> {{ displays.user.email }} </td>
				<td> {{ displays.employee_type }} </td>
				<td> {{ displays.rate }} </td>
				<td> {{ displays.status }} </td>

			

    			<td><form action="{% url 'logat:admin' %}" method = "POST">
    					{% csrf_token %}
					 <input type = 'submit' name='history' value='Log History'>
					 <input type = 'submit' name='daytotal' value='Days Total'>
				 	 <input type = 'hidden' name='naming' value='{{ displays.pk }}'> 

					</form></td>

				
 			{% endfor %}
		
			</tr>

		</table>

			<form action="{% url 'logat:admin' %}" method = "POST">
				{% csrf_token %}
			<input type ='submit' name = 'logout' value = 'Logout'/>
			<input type = 'submit' name = 'users' value = 'All Users'/>
			</form>



</body>

</html>