<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="{{ STATIC_URL }}/logme/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}/logme/css/homes.css" rel="stylesheet">
	</head>	
	<body>
		<form action="{% url 'logat:admin' %}" method = "POST">
			{% csrf_token %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>	
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Administrator</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="glyphicon glyphicon-cog"><span class="caret"></i></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><center><input type="submit" name="logout" value ='Logout'/></center></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		</form>
		<br></br>
			<div class="container edit-con">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><h4><strong><p class= "text-center"> No. </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Username </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Full Name </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Email </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Employee Type </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Rate/h </p></h4></strong></th>
							<th><h4><strong><p class= "text-center"> Status </p></h4></strong></th>
						</tr>
					</thead>
					<tbody>
							{% for displays in display %}
						<tr>
							<td><h5><p class= "text-center"> {{ displays.id }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.user }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.user.first_name }} {{displays.user.last_name }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.user.email }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.employee_type }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.rate }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ displays.status }} </p></h5></td>
							<td>
								<form action="{% url 'logat:admin' %}" method = "POST">
										{% csrf_token %}
									<span style="padding-left:7px;"><input type = 'submit' name='history' class="btn btn-primary"value='Log History'></span>
									<span style="padding-left:5px;"><input type = 'submit' name='daytotal' class="btn btn-primary" value='Days Total'></span>
									<span style="padding-left:5px;"><input type = 'hidden' name='naming' class="btn btn-primary" value='{{ displays.pk }}'> </span>
								</form>
							</td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		<script src="{{STATIC_URL}}logme/js/jquery-1.7.1.min.js"></script>
		<script src="{{STATIC_URL}}logme/js/bootstrap.js"></script>
	</body>
</html>
