<html>
<head>
	<title> All Registered Users </title>
</head>

<body>

	<table align='center' style='width:50%'>
		{% if not alluser %}
			No online at this time
		{% endif %}

		<tr>

			<th> Username </th>
			<th> Fullname </th>
			<th> Status </th>

		</tr>

		{% for shows in alluser %}
		<tr>

			<td> {{ shows.user }} </td>
			<td> {{ shows.user.first_name }} {{ shows.user.last_name }} </td>
			<td> {{shows.status}}</td>
			<td>
				<form action="{% url 'logat:manage' %}" method='POST'>
				{% csrf_token %}
				 	<input type='submit' name='kick' value='Kick'/>
					<input type='hidden' name='userpk' value='{{ shows.pk }}'/>
				</form>
			</td>			
		</tr>

		{% endfor %}

	</table>
	<a href="{% url 'logat:admin' %}"> Back </a>

</body>


</html>