<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head>
			<title> All Registered Users </title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<link href="{{ STATIC_URL }}/logme/css/bootstrap.min.css" rel="stylesheet">
			<link href="{{STATIC_URL}}/logme/css/style.css" rel="stylesheet">
	</head> 
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Manage All Registered Users</a>
				</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<a class="navbar-brand" href="{% url 'logat:admin' %}" style="margin-right:50px">Back to Admin <i class="glyphicon glyphicon-user"></a></i>
					</ul>
				</div>
			</div>
		</nav> 
			<div class="jumbotron" style="margin-top:45px;">
	  			<div class="container">
					<p class= "text-center"></strong>
						{% if not alluser %}
					 		No online at this time
						{% endif %} 
					</p></strong>
	  			</div>
			</div>
		<div class="container">
			<table class="table table-responsive">
					<thead>
						<tr>
							<th><div class="panel-heading"><h4><strong><p class= "text-center"> Username </th></p></strong>
							<th><div class="panel-heading"><h4><strong><p class= "text-center"> Fullname </th></p></strong>
							<th><div class="panel-heading"><h4><strong><p class= "text-center"> Status </th></p></strong>
						</tr>
					</thead> 
					<tbody>                      
						{% for shows in alluser %}
						<tr>
							<td><h5><p class= "text-center"> {{ shows.user }} </p></h5></td>
							<td><h5><p class= "text-center"> {{ shows.user.first_name }} {{ shows.user.last_name }} </p></h5></td>
							<td><h5><p class= "text-center"> {{shows.status}} </p></h5></td>
							<td>			
								<form action="{% url 'logat:manage' %}" method='POST'>
										{% csrf_token %}
				 					<span style="padding-left:7px;" ><input type='submit' name='kick' class="btn btn-danger" value='Kick'/></span>
									<span style="padding-left:7px;"><input type='hidden' name='userpk' class="btn btn-default" value='{{ shows.pk }}'/></span>
								</form>
							</td>
						</tr>
					</tbody>
			</table>
		{% endfor %}
	</body>
</html>